<div class="container">
	<h1> When I was a kid in {{year}}</h1>
	<div class="row year-data">
		<div class="col-md-8">
		<div ng-repeat= "memory in yearData">
			<p><strong>When I was a kid... </strong>{{memory.attributes.old_days}}</p>
			<p><strong>but now... </strong>{{memory.attributes.these_days}}</p>
				<ul>
					<li>{{memory.attributes.year}}</li>
				</ul>
			</div>
			</div>
			<div class="col-md-4">
				<ul>
					<li><a href="/">Home</a></li>
					<li ng-repeat= 'year in allYears'><a href='/years/{{year}}'>{{year}}</a></li>
				</ul>
			</div>
	</div>
</div>